.container{
    margin-bottom: 100px;

}
 .t{ 
     color: #FD511A; 
 } 
.in-line{
    color: #21B573;
    font-weight: 700;
}
.orange-bg{
    background-color:  #F0FFF0;
    border-radius: 10px;
    width: 1440px;
    height: 510px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin: 20px 100px 20px 10px;
   
}
#cat{
    padding: 50px;
}
#bg{
    background-color: #f0f5f0;
}
#cat1{
    padding: 50px;
}
#p{
   
    text-align: center;
    justify-content: center;
}
footer{
    text-align: center;
    width: bold;
    color: rgb(202, 198, 198);
    
}
